@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@600;700;800;900&display=swap');


:root{
    --primary-color: #c154c1;
    --secondary-color: magenta ;
    --backgroung-color: #ffe6ee;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--backgroung-color);
}

/* Nav bar */

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
}

nav ul li {
    font-family: 'Bebas Neue', sans-serif;
    margin-right: 15px;
    font-size: 30px;
}

nav button {
    margin: 5px;
}

#btn1{
    background-color: #FF0000;
}

#btn2{
    background-color: #1db954;
}

/* Nav bar Button > Play Song */ 

.btn{
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}

.btn:hover{
    opacity: 80%;
}

/* paragraph space */
p {
    padding: 2px;
    margin: 0;
}


/* Title */
.title {
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 10px;
}

.title h1{
    color: var(--primary-color);
    font-weight: bold;
}

.title h2 {
    color: var(--secondary-color);
    font-size: 12px;
}


/* Lyrics properties   */
main {
    margin-top: 1rem;
    text-align: center;
}


footer{
    margin: 2rem 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--secondary-color);
    font-size: .8rem;
}
