@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@600;700;800;900&display=swap');


:root{
    --primary-color: lightcoral;
    --secondary-color: gray ;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5dc;
}

/* Nav bar */

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 10px;
    text-decoration: none;
}

nav ul li {
    font-family: 'Bebas Neue', sans-serif;
    margin-right: 15px;
    font-size: 30px;
}

nav button {
    margin: 5px;
}



/* Nav bar Button > Play Song */ 

.btn{
    cursor: pointer;
    padding: 15px;
    font-size: 16px;
    border: 0;
    border-radius: 5px;
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.btn:focus{
    outline: 0;
}

.btn:active{
    transform: scale(0.98);
}

.btn:hover{
    opacity: 80%;
}

#btn1{
    background-color: #FF0000;
}

#btn2{
    background-color: #1db954;
}




/* Title */
.title {
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 10px;
}

.title h1{
    color: var(--primary-color);
    font-weight: bold;
}

.title h2 {
    color: var(--secondary-color);
    font-size: 12px;
}


/* Lyrics properties   */
main {
    margin-top: 1rem;
    text-align: center;
    margin: 0;
    padding: 0;
    
}

main .counter-desing{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* paragraph space */
p {
    padding: 2px;
    margin: 0;
}

footer{
    margin: 2rem 0 1rem 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color);
    font-size: .8rem;
}


/* Counter */

.counter-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 5px 25px 5px;
}

.counter {
    font-size: 30px;
    margin-top: 10px;
}
span {
    font-size: 12px;
    font-weight: bold;
}

[class*="2x"] {
    color: var(--primary-color);
  }


@media(max-width:580px){
    body{
        flex-direction: column;
    }

}